In [1]:
class DataProcessor:
    def __init__(self):
        pass

    def process_text_data(self, text_data, positions):
        """
        Process text data based on fixed-width field positions.

        :param text_data: The input text data as a string.
        :param positions: List of tuples specifying (start, end) positions of fields.
        :return: List of dictionaries with extracted data.
        """
        # List to store extracted data as dictionaries
        extracted_data = []

        try:
            for line in text_data.splitlines():
                # Skip blank lines
                if not line.strip():
                    continue

                try:
                    # Extract fields based on positions
                    line_data = [line[start:end].strip() for start, end in positions]

                    # Append extracted line data as a list
                    extracted_data.append(line_data)

                except Exception as e:
                    print(f"Error processing line: {line}. Exception: {e}")

        except Exception as e:
            print(f"Error processing text data. Error: {str(e)}")

        return extracted_data


# Define the column lengths and names for your new data
lengths = [3, 6, 8, 7]
column_names = ["item_facility", "item_number", "warehouse_item", "rate_amount"]

# Calculate the end positions based on the lengths
end_positions = [sum(lengths[:i + 1]) for i in range(len(lengths))]
positions = [(start, end) for start, end in zip([0] + end_positions[:-1], end_positions)]

# Example text data
text_data = """
046000011003700910000000                          
001000012003691760010100                          
018000012005054800010100                          
019000012003691900010100                          
024000012003691780010100                          
036000012000020210010100                          
043000012003691880010100                          
046000012001040110010100                          
067000012000027200010100                          
077000012002277740010100                          
084000012003691850010100                          
092000012003691740010100                          
096000012000003630010100                          
"""

# Process the data
processor = DataProcessor()
result = processor.process_text_data(text_data, positions)

# Combine the result with column names
result_with_columns = [dict(zip(column_names, row)) for row in result]

# Print the processed result
print(result_with_columns)

[{'item_facility': '046', 'item_number': '000011', 'warehouse_item': '00370091', 'rate_amount': '0000000'}, {'item_facility': '001', 'item_number': '000012', 'warehouse_item': '00369176', 'rate_amount': '0010100'}, {'item_facility': '018', 'item_number': '000012', 'warehouse_item': '00505480', 'rate_amount': '0010100'}, {'item_facility': '019', 'item_number': '000012', 'warehouse_item': '00369190', 'rate_amount': '0010100'}, {'item_facility': '024', 'item_number': '000012', 'warehouse_item': '00369178', 'rate_amount': '0010100'}, {'item_facility': '036', 'item_number': '000012', 'warehouse_item': '00002021', 'rate_amount': '0010100'}, {'item_facility': '043', 'item_number': '000012', 'warehouse_item': '00369188', 'rate_amount': '0010100'}, {'item_facility': '046', 'item_number': '000012', 'warehouse_item': '00104011', 'rate_amount': '0010100'}, {'item_facility': '067', 'item_number': '000012', 'warehouse_item': '00002720', 'rate_amount': '0010100'}, {'item_facility': '077', 'item_number': '000012', 'warehouse_item': '00227774', 'rate_amount': '0010100'}, {'item_facility': '084', 'item_number': '000012', 'warehouse_item': '00369185', 'rate_amount': '0010100'}, {'item_facility': '092', 'item_number': '000012', 'warehouse_item': '00369174', 'rate_amount': '0010100'}, {'item_facility': '096', 'item_number': '000012', 'warehouse_item': '00000363', 'rate_amount': '0010100'}]

In [4]:
import pandas as pd

class DataProcessor:
    def __init__(self):
        pass

    def process_text_data(self, text_data, positions):
        """
        Process text data based on fixed-width field positions.

        :param text_data: The input text data as a string.
        :param positions: List of tuples specifying (start, end) positions of fields.
        :return: List of dictionaries with extracted data.
        """
        # List to store extracted data as dictionaries
        extracted_data = []

        try:
            for line in text_data.splitlines():
                # Skip blank lines
                if not line.strip():
                    continue

                try:
                    # Extract fields based on positions
                    line_data = [line[start:end].strip() for start, end in positions]

                    # Append extracted line data as a list
                    extracted_data.append(line_data)

                except Exception as e:
                    print(f"Error processing line: {line}. Exception: {e}")

        except Exception as e:
            print(f"Error processing text data. Error: {str(e)}")

        return extracted_data


# Define the column lengths and names for your new data
lengths = [3, 6, 8, 7]
column_names = ["item_facility", "item_number", "warehouse_item", "rate_amount"]

# Calculate the end positions based on the lengths
end_positions = [sum(lengths[:i + 1]) for i in range(len(lengths))]
positions = [(start, end) for start, end in zip([0] + end_positions[:-1], end_positions)]

# Example text data
text_data = """
046000011003700910000000                          
001000012003691760010100                          
018000012005054800010100                          
019000012003691900010100                          
024000012003691780010100                          
036000012000020210010100                          
043000012003691880010100                          
046000012001040110010100                          
067000012000027200010100                          
077000012002277740010100                          
084000012003691850010100                          
092000012003691740010100                          
096000012000003630010100                          
"""

# Process the data
processor = DataProcessor()
result = processor.process_text_data(text_data, positions)

# Combine the result with column names
result_with_columns = [dict(zip(column_names, row)) for row in result]

# Convert the result into a pandas DataFrame
df = pd.DataFrame(result_with_columns)

# Print the DataFrame
print(df)
df

   item_facility item_number warehouse_item rate_amount
0            046      000011       00370091     0000000
1            001      000012       00369176     0010100
2            018      000012       00505480     0010100
3            019      000012       00369190     0010100
4            024      000012       00369178     0010100
5            036      000012       00002021     0010100
6            043      000012       00369188     0010100
7            046      000012       00104011     0010100
8            067      000012       00002720     0010100
9            077      000012       00227774     0010100
10           084      000012       00369185     0010100
11           092      000012       00369174     0010100
12           096      000012       00000363     0010100

   item_facility item_number warehouse_item rate_amount
0            046      000011       00370091     0000000
1            001      000012       00369176     0010100
2            018      000012       00505480     0010100
3            019      000012       00369190     0010100
4            024      000012       00369178     0010100
5            036      000012       00002021     0010100
6            043      000012       00369188     0010100
7            046      000012       00104011     0010100
8            067      000012       00002720     0010100
9            077      000012       00227774     0010100
10           084      000012       00369185     0010100
11           092      000012       00369174     0010100
12           096      000012       00000363     0010100

In [7]:
import pandas as pd
import logging

# Configure logging
logging.basicConfig(level=logging.INFO, format="%(asctime)s - %(levelname)s - %(message)s")


class DataProcessor:
    def __init__(self, lengths, column_names):
        """
        Initialize the processor with lengths and column names.

        :param lengths: List of field lengths.
        :param column_names: List of column names corresponding to the fields.
        """
        self.lengths = lengths
        self.column_names = column_names
        self.positions = self._calculate_positions()

    def _calculate_positions(self):
        """Calculate start and end positions for fixed-width fields."""
        end_positions = [sum(self.lengths[:i + 1]) for i in range(len(self.lengths))]
        return [(start, end) for start, end in zip([0] + end_positions[:-1], end_positions)]

    def process_text_data(self, text_data):
        """
        Process text data based on fixed-width field positions.

        :param text_data: The input text data as a string.
        :return: List of dictionaries with extracted data.
        """
        extracted_data = []
        logging.info('HIIIIIIIIIIIIIII')
        if not text_data.strip():
            logging.warning("Input text data is empty.")
            return extracted_data

        for line_number, line in enumerate(text_data.splitlines(), start=1):
            if not line.strip():
                continue

            if len(line) < self.positions[-1][1]:
                logging.warning(f"Line {line_number} is shorter than expected: {line}")
                continue

            try:
                # Extract fields based on positions
                line_data = [line[start:end].strip() for start, end in self.positions]
                extracted_data.append(line_data)
            except Exception as e:
                logging.error(f"Error processing line {line_number}: {line}. Exception: {e}")

        return extracted_data

    def to_dataframe(self, extracted_data):
        """
        Convert extracted data to a pandas DataFrame.

        :param extracted_data: List of lists with extracted field data.
        :return: pandas DataFrame.
        """
        try:
            return pd.DataFrame([dict(zip(self.column_names, row)) for row in extracted_data])
        except Exception as e:
            logging.error(f"Error converting data to DataFrame: {e}")
            return pd.DataFrame()


# Define column lengths and names
lengths = [3, 6, 8, 7]
column_names = ["item_facility", "item_number", "warehouse_item", "rate_amount"]

# Example text data
text_data = """
046000011003700910000000                          
001000012003691760010100                          
018000012005054800010100                          
019000012003691900010100                          
024000012003691780010100                          
036000012000020210010100                          
043000012003691880010100                          
046000012001040110010100                          
067000012000027200010100                          
077000012002277740010100                          
084000012003691850010100                          
092000012003691740010100                          
096000012000003630010100                          
"""

# Process the data
processor = DataProcessor(lengths, column_names)
extracted_data = processor.process_text_data(text_data)

# Convert to DataFrame
df = processor.to_dataframe(extracted_data)

# Display the DataFrame
print(df)
df

2024-11-22 18:41:28,366 - INFO - HIIIIIIIIIIIIIII

   item_facility item_number warehouse_item rate_amount
0            046      000011       00370091     0000000
1            001      000012       00369176     0010100
2            018      000012       00505480     0010100
3            019      000012       00369190     0010100
4            024      000012       00369178     0010100
5            036      000012       00002021     0010100
6            043      000012       00369188     0010100
7            046      000012       00104011     0010100
8            067      000012       00002720     0010100
9            077      000012       00227774     0010100
10           084      000012       00369185     0010100
11           092      000012       00369174     0010100
12           096      000012       00000363     0010100

   item_facility item_number warehouse_item rate_amount
0            046      000011       00370091     0000000
1            001      000012       00369176     0010100
2            018      000012       00505480     0010100
3            019      000012       00369190     0010100
4            024      000012       00369178     0010100
5            036      000012       00002021     0010100
6            043      000012       00369188     0010100
7            046      000012       00104011     0010100
8            067      000012       00002720     0010100
9            077      000012       00227774     0010100
10           084      000012       00369185     0010100
11           092      000012       00369174     0010100
12           096      000012       00000363     0010100

In [12]:
def insert_data_to_table( extracted_data, table_name, post_cur, column_names, request_id, datetimestamp):
    """
    Inserts extracted data into the specified table.

    :param extracted_data: List of tuples containing the data to insert.
    :param table_name: Name of the table where data will be inserted.
    :param post_cur: Database cursor object for executing queries.
    :param column_names: List of column names matching the data fields.
    :param request_id: Unique request ID to associate with each row.
    :param datetimestamp: Timestamp for creation_date and last_update_date.
    :return: Number of records inserted.
    """
    # Construct the INSERT query
    insert_query = (
        f"INSERT INTO {table_name} "
        f"(request_id, {', '.join(column_names)}, creation_date, last_update_date, created_by, last_updated_by, last_update_login) "
        f"VALUES (%s, {', '.join(['%s'] * len(column_names))}, %s, %s, %s, %s, %s)"
    )
    print(f"Generated Query: {insert_query}")  # Optional: For debugging

    try:
        # Prepare the data to be inserted
        formatted_data = [
            (request_id,) + row + (datetimestamp, datetimestamp, 'CSPOMS', 'CSPOMS', 'CSPOMS')
            for row in extracted_data
        ]

        # Execute the query with the prepared data
        post_cur.executemany(insert_query, formatted_data)

        # Get the count of inserted records
        inserted_records = post_cur.rowcount

        # Commit the transaction (if using a transaction-based DB connection)
        print(f"Data inserted successfully into {table_name}: {inserted_records} records.")
        return inserted_records

    except Exception as e:
        print(f"Error inserting data into {table_name}. Exception: {e}")
        raise  # Re-raise the exception to handle it at a higher level

In [15]:
# Example inputs
table_name = "your_table_name"
column_names = ["item_facility", "item_number", "warehouse_item", "rate_amount"]
extracted_data = df
request_id = "12345"
current_datetimestamp = "2024-11-20 12:00:00"

# Assume `post_cur` is a cursor object from your database connection
# Call the function to insert data
insert_count = insert_data_to_table(
    extracted_data, table_name, post_cur, column_names, request_id, current_datetimestamp
)
print(f"Inserted count: {insert_count}")

Generated Query: INSERT INTO your_table_name (request_id, item_facility, item_number, warehouse_item, rate_amount, creation_date, last_update_date, created_by, last_updated_by, last_update_login) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
Error inserting data into your_table_name. Exception: can only concatenate tuple (not "str") to tuple

TypeError: can only concatenate tuple (not "str") to tuple

In [14]:
import pandas as pd
import numpy as np
import re
import psycopg2
# Database credentials
user = "cspoms"
password = "cspoms"
host = "gc-ue4-psql-cspo-dev01.nonprod.gcp.cswg.com"
port = "5432"
database = "CSPODB"
sslmode = "verify-ca"
sslcert= "C:\\Users\\DELL\\OneDrive\\Documents\\GitHub\\TPRelex\\RELEX-Y\\CSPOMS_DEV_Conn\\client-cert.pem"
sslkey= "C:\\Users\\DELL\\OneDrive\\Documents\\GitHub\\TPRelex\\RELEX-Y\\CSPOMS_DEV_Conn\\client-key.pem"
sslrootcert= "C:\\Users\\DELL\\OneDrive\\Documents\\GitHub\\TPRelex\\RELEX-Y\\CSPOMS_DEV_Conn\\server-ca.pem"

# Initialize cursor and connection to None
connection = None
post_cur = None


# Establish the connection
connection = psycopg2.connect(
    database=database,
    user=user,
    password=password,
    host=host,
    port=port,
    sslmode=sslmode,
    sslcert=sslcert,
    sslkey=sslkey,
    sslrootcert=sslrootcert
)
post_cur = connection.cursor()